/* src/components/TicTacToe.css */
/* Ajoutez vos styles personnalisés ici */

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 4px;
  }
  
  .square {
    width: 100%;
    height: 100%;
    font-size: 24px;
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .square:hover {
    background-color: #f0f0f0;
  }
  
  .status {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .restart-button {
    background-color: #b76b03;
    border: 1px solid transparent;
    border-radius: 0.75rem;
    color: #ffffff;
    cursor: pointer;
    font-family: "Inter var";
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 0.75rem 1.2rem;
    text-align: center;
    text-decoration: none #6b7280 solid;
    text-decoration-thickness: auto;
    transition-duration: 0.2s;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
  }
  
  .restart-button:hover {
    background-color: #374151;
  }
  
  .restart-button:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  
  @media (min-width: 768px) {
    .restart-button {
      padding: 0.75rem 1.5rem;
    }
  }
  
  